.bio-stage {
    height: 400px;
    display: flex;
  }
  
  .bio-pic {
    width: 50%;
    margin: 0 auto;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
  
.julia {
    background-image: url("/img/julia-2.jpg");
}

.chris {
    background-image: url("/img/chris.jpg");
}

  .bio-content {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 100px 20px 100px;
  }

  .bio-content-left {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 100px 20px 100px;
  }

  @media screen and (min-width: 1800px) {
    .bio-content {
      padding: 20px 200px 20px 100px;
    }
    .bio-content-left {
        padding: 20px 100px 20px 200px;
      }
  }

@media screen and (max-width: 1350px) {
    .bio-stage {
      padding: 30px 20px;
      box-sizing: border-box;
      height: auto;
      max-width: 1000px;
      margin: 0 auto;
    }
    .bio-pic {
      width: 300px;
      background-position: top center;
    }
    .bio-content {
      width: calc(100%-300px);
      padding: 0 0 30px 30px;
    }

    .bio-content-left {
      width: calc(100%-300px);
      padding: 0 30px 30px 0;
    }
}

@media screen and (max-width: 800px) {
  .bio-stage {
    flex-wrap: wrap;
    padding: 0;
  }
  .bio-pic {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  .bio-content {
    width: 100%;
    padding: 30px;
  }

  .bio-content-left {
    width: 100%;
    order: 1;
    padding: 30px;
  }
  
  .chris {
    order: 0;
  }
}
