.detail-selector {
    display: flex;
    background-color: #D0B8AC;
    padding: 70px 0;
  }
  
    
    .detail-column {
      float: left;
      width: 32%;
      text-align: center;
    }
    
    .detail-column a {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    
    .detail-column + .detail-column {
      margin-left: 2%;
    }
    
    .detail-row:after {
      content: "";
      display: table;
      clear: both;
    }
    
  .select-icon {
    max-width: 20%;
    margin: 0 auto;
    display: block;
  }
  
    .detail-column h3 {
      color: white;
    }
    
    .detail-column p {
      padding: 20px 10px;
      text-align: center;
      color: #22223b;
    }
    
  .detail-column h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
  }
    
    .detail-column button {
      margin-left: 10px;
    }
    
    .detail-image {
      height: 120px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: green;
      display: flex;
      align-items: flex-end;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #2C4251;
      color: black;
    }

      .button.select-button {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: #22223b;
      }

  @media screen and (max-width: 800px) {
    .detail-column {
      width: 100%;
      text-align: left;
    }
    .select-icon {
      height: 50px;
      flex: 0;
      width: 50px;
      margin-top: 10px;
    }
    .mobile-column {
      flex: 1;
      padding: 0 0 0 30px;
    }
    .detail-column h1, .detail-column p {
      text-align: left;
      padding: 0;
    }
    .detail-column + .detail-column {
      margin-left: 0;
      padding-top: 30px;
    }
    .detail-column h1 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 25px;
    }
    .select-button {
      display: block;
      margin: 0 auto;
      width: 30%;
      margin-top: 10px;
    }
    .detail-selector {
      padding: 30px 0;
    }
    .column-left {
      display: flex;
      width: 70%;
      margin: 0 auto;
    }
  }