.detail-stage {
    height: 400px;
    display: flex;
  }
  
  .detail-pic {
    width: 50%;
    margin: 0 auto;
    background-image: url("/img/detail-pic.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  .detail-content {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 200px 20px 100px;
  }

  @media screen and (max-width: 1300px) {
    .detail-pic {
        background-position: center;
        background-size: cover;
    }
    .detail-content {
      padding: 20px 20px;
    }
}