.lifestyle-stage {
    padding: 80px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/img/recipe-header.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 150px;
    color: white;
    }

.lifestyle-stage p {
    color: #22223B;
} 

@media screen and (max-width: 800px) {
    .lifestyle-stage {
        padding: 80px 20px;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    .lifestyle-stage p {
        width: 50%;
    }
}